{% extends 'base.html' %}



{% block content %}

<ul>
 <div class="container-fluid">
   <table class="table">
      <thead class="table-dark">
          <tr>
            <th width="600">Nombre</th>
            <th width="600">Edad</th>
            <th width="">
              <button onclick="refrescarPagina();">↺</button>
            </th>
          </tr>
      </thead>
        <tbody>
          {% for artista, edad in artistas_edades %}
              <tr>
                 <td>>{{ artista.nombre }}</td>
                 <td>{{ edad }}</td>
              </tr>
          {%endfor%}
        </tbody>
    </table>
  </div>
</ul>
{% endblock content %}