{% extends 'base.html' %}

{% block content %}

<ul>
    <div class="container-fluid">
      <table class="table">
         <thead class="table-dark">
            <tr>
              <th width="400">Nombre</th>
              <th width="400">Apellido</th>
              <th width="400">Album</th>
              <th width="">
                <button onclick="refrescarPagina();">↺</button>
              </th>
            </tr>
          </thead>
          <tbody>
              {% for artista in artistas %}
              <tr >
                <td>{{artista.nombre}}</td>
                <td>{{artista.apellido}}</td>
                <td>{{artista.album.nombre_album}}</td>
                <td>
                  <form method="POST">{% csrf_token %}
                    <a class="btn btn-dark" href="{% url 'artista_app:update-user' artista.id%}">modificar</a>
                  </form>
                </td>
              </tr>
              {%endfor%}
          </tbody>
      </table>
    </div>
</ul>

{% endblock content %}