{% extends 'base.html' %}

{% block content %}

<ul>
  <a href="{% url 'artista_app:lista-user-nombre' %}">buscar</a>
    <table>
       <thead>
          <tr>
            <th width="100">Nombre</th>
            <th width="300">Apellido</th>
            <th width="200">DNI</th>
            <th width="200">Fecha de Nacimiento</th>
            <th width="300">Sueldo</th>
          </tr>
        </thead>
        <tbody>
            {% for artistas in artista %}
            <tr >
              <td>{{artistas.nombre}}</td>
              <td>{{artistas.apellido}}</td>
              <td>{{artistas.dni}}</td>
              <td>{{artistas.fecha_de_nacimiento}}</td>
              <td>{{artistas.sueldo_mensual}}</td>
              <td>
                <form method="POST">{% csrf_token %}
                  <a href="{% url 'artista_app:update-user' artistas.id%}">modificar</a>
                </form>
              </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="{% url 'artista_app:registro-artista'%}">Nuevo artista</a>
</ul>
{% endblock content %}