{% extends 'base.html' %}

{% block content %}

<ul>
 <div class="container-fluid">
   <table class="table">
      <thead class="table-dark">
          <tr>
            <th width="400">Nombre</th>
            <th width="400">Apellido</th>
            <th width="400">Sueldo</th>
            <th width="">
              <button onclick="refrescarPagina();">↺</button>
            </th>
          </tr>
      </thead>
        <tbody>
            {% for m in menor %}
            <tr >
              <td>{{m.nombre}}</td>
              <td>{{m.apellido}}</td>
              <td>{{m.sueldo_mensual}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</ul>
{% endblock content %}