{% extends 'base.html' %}



{% block content %}

<ul>
 <div class="container-fluid">
   <table class="table">
      <thead class="table-dark">
          <tr>
            <th width="300">Nombre</th>
            <th width="300">Apellido</th>
            <th width="300">sueldo_anual</th>
          </tr>
      </thead>
        <tbody>
          {% for artista in artistas_info %}
          <tr>
              <td>{{ artista.nombre }}</td>
              <td>{{ artista.apellido }}</td>
              <td>{{ artista.sueldo_anual }}</td>
              
          </tr>
          {%endfor%}
        </tbody>
    </table>
  </div>
</ul>
{% endblock content %}